<div class="card">
  <div class="row">
    <div class="card-body">
      <div class="col-md-12">
        <h2 class="card-title">{{results.name}}</h2>
        <p class="card-title">[{{results.Category.name}}]</p>
      </div>
      <hr>
      <div class="col-md-4">
        <div class="card-content">
          <ul class="list">
            <li class="card-text"><strong>評論數：</strong> {{commentAmount}}</li>
            <li class="card-text"><strong>瀏覽次數：</strong></li>
            <li class="card-text"><strong>收藏數：</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="javascript:history.back()">回上一頁</a>