<div class="row">
  <div class="col-md-12"></div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-md-8">
    <h2>{{user.name}}</h2>
    <p>{{user.email}}</p>
  </div>
  <hr>
</div>
<br />
<br />
<br /><br />

<a href="javascript:history.back()">回上一頁</a>